@import "tailwindcss";
/* .html{
    background-color: azure;
}

.header{
    display: flex;
    background-color:rgb(255, 136, 0);
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 10px;
    size: 20px;
}
.nav-items>ul{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    font-size: x-large;
}
.nav-items>ul>li{
    
    font-size: medium;
    list-style-type: none;
    margin: 50px;
}
.rest1{
    max-width: auto;
    max-height: auto;
    border: 10px;
    overflow: hidden;
    background-color:bisque;
    padding: 5px;
    margin: 5px; 
}
.rest1:hover{
    border: 1px solid black;
    cursor: pointer;
}
.rest-cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
}
.button{
    cursor: pointer;
}

.img1{
    width: auto;
    height: auto;
    
}
.button{
    display: flex;
    height: 50px;

}
.login{
    margin: 0px 20px;
    padding: 5px;
    cursor: pointer;
}


.shimmer-card{
    margin: 20px;
    width: 600px;
    height: 600px;
    background-color:#f0f0f0;
    border: 2px solid black;
    cursor: pointer;
}
.shimmer{
    display: flex;
    flex-wrap: wrap;
}
.error{
    font-style: italic;
    font-size: xx-small;
}

.about{
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
}
.filter{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.searchbox{
    display: flex;
    flex-wrap: wrap;
    
}
.menu-top{
    padding: 10px;
    margin: 10px;
    border: 10px orange ;
} */